<div class="row top-row">
    <div>
        <%= image_tag 'Donate_logo.png', class: 'landing-logo' %>
    </div>
    <div>
        <%= image_tag 'Donate_line_box.png', class: 'landing-pic' %>
    </div>
</div>
<div class="row bottom-row">
    Donate Forward will make sure<br>
    you don't miss a chance to donate<br>
    to organizations you're interested in<br>
    <br>
    <%= link_to "Get Donate Forward", download_path, class: 'download-btn' %>
</div>
